<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title>Home</title>
    <!-- include stylesheets, etc here -->



    <!--    Bootstrap-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



    <!-- Google Icons and Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



    <!-- Jquery CDN --->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</head>
<body>
    <nav th:fragment="navbar">
        <!-- awesome navbar goes here -->

            <div class="container-fluid navbar navbar-default bg-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">HOME</a></li>
                    <li class="active"><a href="#">ACTION</a></li>
                    <li class="active"><a href="#">ADVENTURE</a></li>
                    <li class="active"><a href="#">FPS</a></li>
                    <li class="active"><a href="#">RPG</a></li>
                    <li class="active"><a href="#">RACING</a></li>
                    <li class="active"><a href="#">FIGHTING</a></li>
                    <li class="active"><a href="#">STRATEGY</a></li>
                    <li class="active"><a href="#">SPORT</a></li>
                    <li class="active"><a href="#">SIMULATORS</a></li>
                    <li class="active"><a href="#">reTro</a></li>
                </ul>
            </div>

    </nav>



    <footer th:fragment="footer">


    </footer>
</body>
</html>

